.navbar{
    padding: 0px;
}

.App-logo{
    margin-right: 10px;
    border-color: transparent rgba(0,0,0,.15) rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.header .navbar-brand {
    height: 50px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
}

.header .navbar-header{
    margin-right: 57% !important;
}

.dropdown-menu-user{

    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(4px, 50px, 0px);
    
}

.foto_user{
    width: 20px;
    margin-right: 11px;
}